<template>
<div class="login">
    <label class="label">Name:</label> 
    <input type="text" v-model="user.name">
    <br>
    <label class="label">E-mail Address:</label> 
    <input type="email" v-model="user.email">
    <br>
    <label class="label">Password:</label> 
    <input type="password" v-model="user.password">
    <br>
    <button class="primary block btn" @click="createUser()">Create Account</button>
    <br>
    <nuxt-link style="text-align:center" to="/account/login">Login instead</nuxt-link>
</div>
</template>

<script>
export default {
    data() {
        return {
            user: {
                name: '',
                email: '',
                password: ''
            }
        }
    },
    methods: {
        async createUser() {
            try {
                let data = await this.$axios.post('/create/user', {...this.user})
                this.$store.commit('auth/SET_USER', data.data.user.id)
                let t = await this.$axios.post('/get/token', {email: this.user.email, password: this.user.password})
                this.$store.commit('auth/SET_TOKEN', t.data.token.id)
                this.$router.push('/')
            } catch(e) {
                console.error(e)
                alert(e)
            }
        }
    }
}
</script>

<style lang="scss">
.login {
    margin: 2rem auto;
    display: block;
    max-width: 40rem;
    input {
        width: 100%;
        display: block;
        background: rgba(255, 255, 255, 0.35);
        border: 0;
        border-radius: 0.25rem;
        padding: 1rem 1.5rem;
        font-size: 1.5rem;
    }
    background: rgba(255, 255, 255, 0.5);
    padding: 2rem;
    border-radius: 0.5rem;
    .label {
        font-size: 1.5rem;
        color: #444;
    }
}
</style>