<template>
<div class="login">
    <label class="label">E-mail Address:</label> 
    <input type="email" v-model="user.email">
    <br>
    <label class="label">Password:</label> 
    <input type="password" v-model="user.password" @keyup.enter="login()">
    <br>
    <button class="block primary btn" @click="login()">Login</button>
    <br>
    <nuxt-link style="text-align:center" to="/account/create">Create account</nuxt-link>
</div>
</template>

<script>
export default {
    data() {
        return {
            user: {
                email: '',
                password: ''
            }
        }
    },
    methods: {
        async login() {
            try {
                let t = await this.$axios.post('/get/token', {email: this.user.email, password: this.user.password})
                this.$store.commit('auth/SET_TOKEN', t.data.token)
                this.$router.push('/')
            } catch(e) {
                console.error(e)
                alert(e)
            }
        }
    }
}
</script>

<style lang="scss">

</style>