<template>
  <div class="list">
    <nuxt-link to="#" v-for="item in items" :key="item.id" class="list-item">
      <h3 class="title">{{item.name}}</h3>
      <p class="subtitle">Quantity: 1</p>
      </nuxt-link>
    <button @click="order()" class="block primary btn">Order Now</button>
  </div>
</template>

<script>
export default {
  data() {
    return {
      items: []
    };
  },
  async created() {
    try {
      let i = await this.$axios.post("/get/shopping-list", {
        token: this.$store.state.auth.token
      });
      this.items = i.data;
    } catch (e) {
      console.error(e);
      alert(e)
    }
  },
  methods: {
      async order() {
          // let o = await this.$axios.post('/order/shopping-list', {token: this.$store.state.auth.token})
          alert('Order placed.')
      }
  }
};
</script>