<template>
  <div class="list">
    <nuxt-link to="#" v-for="(s, index) in suggestions" :key="index" class="list-item">
      <h3 class="title">{{s}}</h3>
      <a href="#" @click.prevent="dismiss(index)">Dismiss</a>
      <!-- <p class="subtitle">Quantity: {{item.quantity}}&nbsp;&nbsp;&nbsp;&nbsp;Price: ${{item.price.toFixed(2)}}/each</p> -->
        <!-- <nuxt-link>{{item.quantity}} - {{item.name}} (${{(item.quantity * item.price).toFixed(2)}})</nuxt-link> -->
      </nuxt-link>
  </div>
</template>

<script>
export default {
  data() {
    return {
      suggestions: []
    };
  },
  async created() {
    try {
      let i = await this.$axios.post("/get/suggestions", {
        token: this.$store.state.auth.token
      });
      this.suggestions = i.data;
    } catch (e) {
      console.error(e);
    }
  },
  methods: {
      async dismiss(id) {
          let o = await this.$axios.post('/dismiss/suggestion', {token: this.$store.state.auth.token, id})
          this.suggestions.slice(id, 1)
      }
  }
};
</script>

<style lang="scss">
.total {
  font-size: 2rem;
  text-align: center;
  padding: 1rem;
}
</style>