<template>
  <div>
    <h2 style="text-align: center">Add an Item</h2>
    <nuxt-link to="/items/add" class="btn primary" style="float:right; margin-right:8px">Add Item</nuxt-link>
    <nuxt-link to="/items" class="btn" style="float:left; margin-left:8px" v-if="saved">Back to Pantry</nuxt-link>
    <p class="btn" style="float:left; margin-left:8px" v-if="!saved">Saving...</p>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        saved: true,
        item: {},
      }
    },
    created() {

    }
  }
</script>