<template>
  <div class="list">
    <input
      type="text"
      class="search"
      v-model="search"
      placeholder="Scan a barcode..."
      autofocus
      @keyup.enter="barcodeLookup()"
      ref="input"
      style="margin-bottom: 1rem"
    />
    <button
      class="block btn primary"
      @click="mode = mode == '+' ? '-' : '+'; $refs.input.focus()"
      style="margin-bottom: 1rem"
    >{{mode=='+' ? 'ADDING' : 'REMOVING'}}</button>
    <nuxt-link to="#" v-for="item in items" :key="item.barcode" class="list-item">
      <h3 class="title">{{item.name}}</h3>
      <p class="subtitle">Quantity: {{item.quantity}}</p>
    </nuxt-link>
  </div>
</template>

<script>
export default {
  data() {
    return {
      items: [],
      search: "",
      currentItem: "",
      mode: "+"
    };
  },
  async created() {
    let i = await this.$axios.post("/get/items", {
      token: this.$store.state.auth.token
    });
    this.items = i.data;
  },
  methods: {
    async barcodeLookup() {
      if (this.mode == "+") {
        let existingItem = await this.$axios.post("/add/item", {
          barcode: this.search,
          token: this.$store.state.auth.token
        });
        let pushed = false;
        this.items.forEach(item => {
          if (item.barcode == this.search) {
            item.quantity++;
            pushed = true;
          }
        });
        if (!pushed) {
          this.items.push(existingItem.data);
        }
      } else {
        let existingItem = await this.$axios.post("/delete/item", {
          barcode: this.search,
          token: this.$store.state.auth.token
        });

        let pushed = false;
        this.items.forEach((item, index) => {
          if (item.barcode == this.search) {
            item.quantity--;
            if (item.quantity == 0) pushed = index
          }
        });
        if (pushed !== false) {
          this.items.splice(pushed, 1);
        }
      }
      this.search = "";
      this.$refs.input.focus();
    },
    mounted() {
      this.$refs.input.focus();
    }
  }
};
</script>
<style>
.search {
  display: block;
  width: 100%;
  border: 0;
  padding: 1rem 1.5rem;
  font-size: 2rem;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 0.5rem;
}

::placeholder {
  color: #444;
}
</style>