<template>
  <div class="recipe">
    <h2 class="recipe-title">{{recipe.name}}</h2>
    <p class="recipe-time">Time: {{recipe.time}} &nbsp;&nbsp;&mdash;&nbsp;&nbsp;Serves: {{recipe.servings}}</p>
    <ul class="ingredients">
      <li v-for="(i, index) in recipe.ingredients" :key="index">{{i.quantity}} - {{i.name}}</li>
    </ul>
    <ol class="steps">
      <li v-for="(s, index) in recipe.steps" :key="index" v-html="s"></li>
    </ol>
  </div>
</template>

<script>
export default {
  data() {
    return {
      recipe: {}
    }
  },
  async created() {
    function shuffle(array) {
      var currentIndex = array.length,
        temporaryValue,
        randomIndex;

      // While there remain elements to shuffle...
      while (0 !== currentIndex) {
        // Pick a remaining element...
        randomIndex = Math.floor(Math.random() * currentIndex);
        currentIndex -= 1;

        // And swap it with the current element.
        temporaryValue = array[currentIndex];
        array[currentIndex] = array[randomIndex];
        array[randomIndex] = temporaryValue;
      }

      return array;
    }
    this.$store.state.recipe.recipes.forEach(r => {
      if (r.id == this.$route.params.recipe) {
        this.recipe = r;
      }
    })
    this.recipe.steps = []
    this.recipe.ingredients = []
    let n = (Math.random() * 10)
    for (let i =0; i< n; i++) {
      this.recipe.steps.push(shuffle('Explicabo nihil veritatis aut omnis qui. Et quaerat in rerum eos voluptas. Magni quo nihil sint eum voluptatum quia corrupti. Similique omnis eos voluptate. Totam saepe eveniet consequatur est. Qui corrupti voluptas necessitatibus nostrum aliquam vel ea sed.'.split(' ')).join(' ').toLowerCase())
    }
    // try {
    //   let r = await this.$axios.post("/get/recipe", {
    //     token: this.$store.state.auth.token,
    //     id: this.$route.params.recipe
    //   });
    //   this.recipe = r.data.recipe;
    // } catch (e) {
    //   console.error(e);
    // }
  }
};
</script>

<style lang="scss">
.recipe {
  display: block;
  margin: 2rem auto;
  // border: solid #aaa 1px;
  border-radius: 0.5rem;
  background: rgba(255, 255, 255, 0.5);
  width: 80%;
  padding: 2rem;
  .recipe-title {
font-size: 3rem;
margin-bottom: 1rem;
  }
  .recipe-time {
    font-size: 1.5rem;
    color: #444;
    margin-bottom: 1rem;
  }
  .ingredients {
    font-size: 1.5rem;
    margin-left: 2rem;
    margin-bottom: 1rem;
  }
  .steps {
    font-size: 1.5rem;
    margin-left: 2rem;
  }
}
</style>