<template>
  <div class="list">
    <nuxt-link :to="'/recipes/' + r.id" v-for="r in recipes" :key="r.id" class="list-item">
      <h3 class="title">{{r.name}}</h3>
      <p class="subtitle">Time: {{r.time}}&nbsp;&nbsp;&nbsp;&nbsp;Servings: {{r.servings}}</p>
    </nuxt-link>
  </div>
</template>

<script>
export default {
  data() {
    return {
      recipes: []
    };
  },
  async created() {
    function shuffle(array) {
      var currentIndex = array.length,
        temporaryValue,
        randomIndex;

      // While there remain elements to shuffle...
      while (0 !== currentIndex) {
        // Pick a remaining element...
        randomIndex = Math.floor(Math.random() * currentIndex);
        currentIndex -= 1;

        // And swap it with the current element.
        temporaryValue = array[currentIndex];
        array[currentIndex] = array[randomIndex];
        array[randomIndex] = temporaryValue;
      }

      return array;
    }
    this.recipes = shuffle(this.$store.state.recipe.recipes);
  }
  // async created() {
  //   try {
  //     let r = await this.$axios.post("/get/recipes", {
  //       token: this.$store.state.auth.token
  //     });
  //     this.recipes = r.data.recipes;
  //   } catch (e) {
  //     console.error(e);
  //   }
  // }
};
</script>

<style lang="scss">
</style>