@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
html, body {
    font-size: 16px;
    width: 100%;
    height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Oswald", sans-serif;
}

.btn {
    background: #ddd;
    padding: 1rem 1.5rem;
    border: 0;
    border-radius: 0.5rem;
    color: #222;
    text-decoration: none;
    font-size: 1.5rem;
    &.primary {
        background: #18aadd;
        color: #fff;
    }
    &.right {
        float: right;
        margin:0.25rem;
    }
    &.block {
        display: block;
        width: 100%;
    }
}

.list {
    margin: 2rem;
    
    .list-item {
      color: #000;
      text-decoration: none;
      padding: 1rem 1.5rem;
      display: block;
      background: rgba(255, 255, 255, 0.35);
      border-radius: 0.5rem;
      margin-bottom: 1rem;
      transition: background ease-in-out 0.2s;
      .title {
        font-size: 2rem;
      }
      .subtitle {
        color: #444;
        font-weight: 200;
        font-size: 1.5rem;
      }
      &:last-child {
        border-bottom: 0;
      }
      &:hover {
        background: rgba(255, 255, 255, 0.5);
      }
    }
  }


  .page-enter-active, .page-leave-active {
    transition: opacity .2s
  }
  .page-enter, .page-leave-active {
    opacity: 0
  }