<template>
  <div class="container" :class="{blur: $route.path !== '/'}">
    <main class="content" >
    <!-- <transition name="fade"> -->
      <nuxt />
    <!-- </transition> -->
    </main>
    <nav class="navigation">
      <nuxt-link to="/" class="nav-item">
        <img src="/house.svg" class="image" />
        <span class="text">Home</span>
      </nuxt-link>
      <nuxt-link to="/items" class="nav-item">
        <img src="/fridge.svg" class="image" />
        <span class="text">My Pantry</span>
      </nuxt-link>
      <nuxt-link to="/recipes" class="nav-item">
        <img src="/recipes.svg" class="image" />
        <span class="text">Recipes</span>
      </nuxt-link>
      <nuxt-link to="/list" class="nav-item">
        <img src="/groceries.svg" class="image" />
        <span class="text">Shopping List</span>
      </nuxt-link>
      <!-- <nuxt-link to="/account/logout" class="nav-item">
        <img src="/logout.svg" class="image" />
        <span class="text">Logout</span>
      </nuxt-link>-->
    </nav>
    <img class="img-load" src="/toast.jpg"><img class="img-load" src="toast-blur.jpg">
  </div>
</template>

<script>
export default {
  created() {
    if (
      !this.$store.state.auth.token &&
      (this.$route.path !== "/account/login" ||
        this.$route.path !== "/account/create")
    ) {
      this.$router.push('/account/login')
    }
  }
};
</script>

<style lang="scss">
.navigation {
  background: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(2rem);
  display: flex;
  justify-content: space-around;
  .nav-item {
    text-decoration: none;
    display: inline-block;
    // width: 96px;
    text-align: center;
    padding: 0.5rem;
    white-space: nowrap;
    font-size: 1.5rem;
    .text {
      color: #fff;
      text-decoration: none;
      display: block;
      text-transform: uppercase;
    }
    .image {
      width: 48px;
      height: 48px;
      display: inline-block;
    }
    &.nuxt-link-exact-active {
      background: rgba(255, 255, 255, 0.15);
    }
  }
}
.container {
  display: flex;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("/toast.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image ease-in-out 0.2s;
  &.blur {
    background-image: url('/toast-blur.jpg');
  }
}
@media screen and (orientation: portrait) {
  .container {
    flex-direction: column;
  }
  .navigation {
    flex: 0 0 0;
    flex-direction: row;
    // overflow-x: auto;
  }
  .content {
    flex: 1 1 0;
  }
}

@media screen and (orientation: landscape) {
  .container {
    flex-direction: row;
  }
  .navigation {
    flex: 0 0 0;
    flex-direction: column;
    // overflow-y: auto;
  }
  .content {
    flex: 1 1 0;
  }
}

.content {
  transition: background ease-in-out .2s;
  position: relative;
  overflow-y: auto;
}
.container.blur .content {
  background: rgba(255, 255, 255, 0.15);
}

.img-load {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 1px;
  height: 1px;
  z-index: -1;
}
</style>