<template>
  <div class="home">
    <div class="time">{{moment().format('h:mm A')}}</div>
    <div class="card-list">
      <div class="card" v-for="(s, index) in suggestions" :key="index">{{s}}</div>
    </div>
  </div>
</template>

<script>
import moment from "moment";

export default {
  data() {
    return {
      url: "",
      suggestions: ["Hello, world!"]
    };
  },
  computed: {
    wallpaperURL() {
      return { backgroundImage: "url('" + this.url + "')" };
    }
  },
  async created() {
    try {
      let i = await this.$axios.post("/get/suggestions", {
        token: this.$store.state.auth.token
      });
      this.suggestions = i.data;
    } catch (e) {
      console.error(e);
    }
  },
  methods: {
    moment,
    async dismiss(id) {
      let o = await this.$axios.post("/dismiss/suggestion", {
        token: this.$store.state.auth.token,
        id
      });
      this.suggestions.slice(id, 1);
    }
  }
};
</script>

<style lang="scss">
.time {
  text-align: center;
  padding: 4rem;
  font-size: 8rem;
  text-shadow: rgba(255, 255, 255, 1) 0.25rem 0.25rem 1.5rem;
  color: #222;
  padding-bottom: 0;
}
.card-list {
  display: block;
  max-width: 80%;
  margin: 2rem auto;
  .card {
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(0.5rem);
    padding: 1rem;
    font-size: 2rem;
    border-radius: 0.5rem;
    // box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 0.5rem;
    width: 100%;
    margin-bottom: 2rem;
  }
}
</style>